{% extends 'layout.html.j2' %}

{% block titre %}
    Modifier un utilisateur
{% endblock %}

{% block body %}

<h1 class="text-center mt-5 mb-5">Modification de l'utilisateur</h1>

<div class="jumbotron col-sm-6 offset-sm-3">
    <form action="" method="POST" id="editUserForm">
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control" name="username" value="{{ userInfo.1 }}" id="username" required disabled>
        </div>
        <div class="alert alert-warning" role="alert">
            Attention, vous ne devez modifier le nom d'utilisateur uniquement si celui-ci vous l'a demandé. Dans tous les cas, informez-le du nouveau nom d'utilisateur.
            <a class="text-danger" id="editBtn">Autoriser la modification du nom</a>
        </div>
        <div class="form-group">
            <label for="badges">Associer un badge</label>
            <select class="form-control" name="badges">
                    <option value=""></option>
                    {% if userBadge %}
                    <option value="{{ userBadge.0 }}" selected="selected">{{ userBadge.1 }}</option>
                    {% endif %}
                {% for badge in badges %}
                    <option value="{{ badge.0 }}">{{ badge.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="isAdmin" {% if userInfo.4 == 1 %}checked{% endif %}>
            <label class="form-check-label" for="isAdmin" id="isAdmin">est administrateur ?</label>
        </div>
        <div class="float-right">
            <button id="submitBtn" type="submit" class="btn btn-primary">Modifier</button>
            <a href="{{ url_for('admin') }}" class="btn btn-danger">Annuler</a>
        </div>
    </form>
</div>

{% endblock %}
